<mat-icon *ngIf="icon || trend" class="trend drop-shadow" color="accent">
    {{ icon ? icon : 'trending_' + (trend > 0 ? 'up' : 'down') }}
</mat-icon>

<div *ngIf="unit != null" class="human"> 
  <div>
      <div class="value accent">
          {{ value(unit) == '-' ? '-' : unit.value | number:'1.0-2' }}
      </div>
      
      <div class="nicer-value drop-shadow">
          <span>{{ value(unit) == '-' ? '-' : unit.value | number:'1.0-2' }}</span>
      </div>

      <div class="full primary">
          <span>{{ value(unit) == '-' ? '-' : unit.value | number:'1.0-20' }}</span>
      </div>
  </div>      
</div>

<div class="second-font unit accent drop-shadow" fxLayout="column" fxLayoutAlign="start center">{{ units(unit) }}</div>        

<div class="second-font unit accent wind-unit drop-shadow" fxLayout="column" fxLayoutAlign="start center">{{ description }}</div>  

