.bottomColor {
  top: 98%;
  width: 150%;
  height: 4em;
  content: '';
  background: inherit;
  position: absolute;
  box-shadow: 0 .1em .2em rgba(0, 0, 0, .4);
  border-radius: 2em;
  left: 49.5% - (150%/2);
}

:host {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  color: crimson;
  background: crimson;
}
