<md-card>
  <md-card-title>Ciśnienie <portable-value *ngIf="loaded" [value]="pressure.current.value" [after]="pressure.current.units"></portable-value></md-card-title>

  <md-card-content *ngIf='loaded'>
    <md-spinner *ngIf='!loaded'></md-spinner>

    <h5>Aktualne: <portable-value *ngIf="loaded" [value]="pressure.current.value" [after]="pressure.current.units"></portable-value></h5>
    <h5>Tendencja: <portable-value *ngIf="loaded" [value]="pressure.trend.value" [after]="pressure.trend.units"></portable-value></h5>
  </md-card-content>

  <md-card-actions>
    <button disabled md-button color='primary'>Szczegóły</button>
    <button md-button color='primary' routerLink='cisnienie'>Raport</button>
  </md-card-actions>
</md-card>
