h2 {
  display: inline-flex;
  font-size: 24px;
  letter-spacing: 3px;
  align-items: center;
  color: #FFEB3B;
}

button, nav {
  height: 100%;
}

sub {
  margin-left: .25em;
  transform: translateY(-.5em);
}

app-update-timer {
  margin-left: auto;
}

mat-icon {
  animation: spin 30s infinite;
  margin-right: 3px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
