h2 {
  display: inline-flex;
  align-items: center;
  color: #FFEB3B;
}

app-update-timer {
  margin-left: auto;
}

md-icon {
  animation: spin 30s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
