:host {
  margin: 1em;
  flex-flow: wrap;
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-end;

  > * {
    margin: 1em;
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    align-items: stretch;
  }
}
