<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <span class="name" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <mat-icon>{{ name ? 'hdr_strong' : icon }}</mat-icon>
    <div fxLayout="column">
      <span class="title">{{ name ? name : unit?.name }}</span>
      <span class="second-line"><ng-content></ng-content></span>
    </div>  
  </span>
  <skalagi-portable-value color="primary" [preTip]="preTip" [value]="unit?.value" [after]="unit?.units"></skalagi-portable-value>
</div>