<div fxLayout="row wrap" 
  fxLayoutAlign.xs="stretch center" fxLayoutAlign="space-between center">

  <span class="name" fxLayout="row wrap" ngClass.xs="mobile"
    fxLayoutAlign.xs="space-around center" fxLayoutAlign="space-between center">

    <mat-icon [ngStyle]="{ transform: transform }" [color]="color">{{ icon }}</mat-icon>

    <div fxFlex class="title" fxLayout="column">
      <span class="main-line">{{ name ? name : unit?.name }}</span>
      <span [ngClass]="color" class="second-line"><ng-content></ng-content></span>
    </div>  

  </span>

  <skalagi-portable-value [color]="color" [preTip]="preTip" [value]="unit?.value" 
    [after]="unit?.units"></skalagi-portable-value>
</div>
