div {
    box-sizing: border-box;
}

span {
    box-sizing: border-box;
    letter-spacing: 1px;
    // text-align: center;
}

portable-value {
    padding: 0 12px;
}

span, mat-icon {
    padding: 0 12px;
    margin: 8px 0;
}
