div {
    box-sizing: border-box;
}

.name {
    box-sizing: border-box;
    letter-spacing: 1px;
    // text-align: center;
    padding-right: 12px;
    margin: 8px 0;
}

.second-line {
    font-weight: 600;
}

mat-icon {
    margin-right: 12px;
}
