div {
    box-sizing: border-box;
}

.name {
    box-sizing: border-box;
    letter-spacing: 1px;
    // text-align: center;
    padding: 0 8px;
    margin: 6px 0;
}

skalagi-portable-value {
    //flex-grow: 1;
}

.second-line {
    font-weight: 600;
    font-size: 14px;
}

mat-icon {
    margin: 4px 16px;
}
