<mat-tab-group @slide headerPosition="below">
  <ng-template [ngIf]="day$ | async" let-day="$implicit">
    <mat-tab label="DZIŚ" *ngIf="!(record == 'rain' && day.value == 0)">
      <skalagi-record [data]="day"></skalagi-record>
    </mat-tab>
  </ng-template>

  <mat-tab label="MIESIĄCA" *ngIf="month$ | async as month" >
    <skalagi-record [data]="month"></skalagi-record>
  </mat-tab>

  <mat-tab *ngIf="year$ | async as year" label="ROKU">
        <skalagi-record [data]="year"></skalagi-record>
  </mat-tab>
</mat-tab-group>
