figure {
    border: 2px solid;
    background: rgba(#2196f3, .75);
    border-radius: 24px / 16px;
    padding: 24px 12px;
    overflow: hidden;
    margin: 0;
}

h1 {
    margin: 0;
    display: inline-block;
    font-size: 96px;
    font-weight: 300;
    position: relative;
    color: #fff;
}

h3 {
    letter-spacing: 4px;
    font-weight: 300;
    margin: 0 0 0 0;
    font-size: 32px;
    color: #fff;
}