<figure fxLayout="column" fxLayoutAlign="center center">
    <h1 class="">
        <div class="human" fxLayout="row inline" fxLayoutAlign="center start">
            <span class="">
                <span class="value accent">
                    {{ value(unit) == '-' ? '-' : unit.value | number:'1.0-2' }}
                </span>
                <span class="nicer-value">
                    <span>{{ value(unit) == '-' ? '-' : unit.value | number:'1.0-2' }}</span>
                </span>
                <span class="full primary">
                    <span>{{ value(unit) == '-' ? '-' : unit.value | number:'1.0-20' }}</span>
                </span>
            </span>
            <span class="unit">{{ units(unit) }}</span>            
        </div>
    </h1>
    <h3 class="second-font">{{ title }}</h3>
</figure>