figure {
    box-sizing: border-box;
    padding: 42px 24px;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
}

h1 {
    margin: 0;
    display: inline-block;
    font-size: 96px;
    font-weight: 300;
    position: relative;
    color: #fff;
}

h3, h4 {
    margin: 16px 0 0 0;
}

h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

h3 {
    letter-spacing: 4px;
    font-weight: 300;
    font-size: 32px;
    color: #fff;
}