<main gdColumns="repeat(1, 1fr)" gdColumns.md="repeat(2, 1fr)"
    gdColumns.gt-md="repeat(3, 1fr)" gdGap="64px" gdAlignColumns="center center">
    <figure *ngFor="let day of forecast.forecastday" class="border accent bg mat-elevation-z1">
    
        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <h2 class="second-font accent">{{ day.title }}</h2>
            <img src="assets/icons/wu/{{ day.icon }}.svg">
        </div>
        
        <p>{{ day.fcttext_metric }}</p>
    </figure>
</main>
