.card {
    border-radius: 6px;
    height: 100%;
    // border: 2px solid #ffd740;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

:host ::ng-deep {
    .mat-tab-body-wrapper {
        flex-grow: 1;
    }

    mat-tab-header {
        .mat-tab-label {
            padding-top: 32px;
            padding-bottom: 24px;
            font-weight: 600;
        }
    }

}

mat-tab-group {
    flex-grow: 1;
}

mat-tab-group, .actions {
    background: #fff;
}