<ng-template [ngIf]="basic$ | async" let-basic="$implicit">
  <div class="card primary-bg" fxLayout="column" fxLayoutAlign="space-between stretch">
    <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>

    <mat-tab-group color="accent" [dynamicHeight]="true">

      <mat-tab label="{{ 
          title == 'Opady' && !basic?.value ? 'BRAK OPADÓW' 
            : title == 'Wiatr' && !basic?.current?.speed?.value
            ? 'BEZWIETRZNIE' : title.toUpperCase()  
        }}">
        <skalagi-basic-data [basic]="basic"></skalagi-basic-data>
      </mat-tab>

      <mat-tab label="REKORDY">
          <skalagi-records fxFlex *ngIf="type" [record]="type"></skalagi-records>
      </mat-tab>
    </mat-tab-group>

    <skalagi-basic-chart [data$]="chart$"></skalagi-basic-chart>
    
    <div class="actions primary-bg">
      <button color="accent" mat-flat-button [routerLink]="['/raport', title.toLowerCase()]">RAPORT</button>
    </div>
  </div>
</ng-template>