.card {
    background: #fff;
    border-radius: 8px;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #fff;
    overflow: hidden;
}

.title {
    text-align: center;
}

.wind-arrow {
    $size: 32px;
    font-size: $size;
    width: $size;
    height: $size;
}
:host ::ng-deep .mat-tab-body-wrapper {
    flex-grow: 1;
}

h3, .actions {
    padding: 0 24px;
}

h3 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 12px;
    letter-spacing: 3px;
    color: #fff;
}

mat-tab-group {
    flex-grow: 1;
}

.actions {
    text-align: right;
    padding: 16px 24px;

    button {
        margin-left: 12px;
        letter-spacing: 2px;
    }
}