<ng-template [ngIf]="basic$ | async" let-basic="$implicit">
  <div class="card" fxLayout="column" fxLayoutAlign="space-between stretch">
    <mat-tab-group color="accent">

      <mat-tab label="{{ 
          title == 'Opady' && !basic?.value ? 'BRAK OPADÓW' 
            : title == 'Wiatr' && !basic?.current?.speed?.value
            ? 'BEZWIETRZNIE' : title.toUpperCase()  
        }}">
        <ng-template matTabContent>
          <skalagi-basic-data [basic]="basic"></skalagi-basic-data>
        </ng-template>
      </mat-tab>

      <mat-tab label="REKORDY">
        <ng-template matTabContent>
            <skalagi-records fxFlex *ngIf="type" [record]="type"></skalagi-records>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <skalagi-basic-chart [data$]="chart$"></skalagi-basic-chart>
    
    <div class="actions primary-bg" *ngIf="!(chartError$ | async)" fxLayout fxLayoutAlign="end center">
      <mat-spinner [diameter]="32" color="accent" [strokeWidth]="3"
        *ngIf="(loading$ | async) && !((chartError$ | async) || (error$ | async))">
      </mat-spinner>
      <button color="accent" mat-flat-button disabled>TRANSKRYPT</button>
      <button color="accent" mat-flat-button [routerLink]="['/raport', title.toLowerCase()]">RAPORT</button>
    </div>
  </div>
</ng-template>