skalagi-header, skalagi-sentences {
    position: sticky;
    z-index: 3;
}

skalagi-header {
    display: block;
    top: -12px;

    &.mobile {
        z-index: 4;
        top: 0;
    }
}

skalagi-sentences {
    top: 28px;

    &.mobile {
        position: relative;
        top: 0;
    }
}