<div class="viewport" fxLayout="column">
    <skalagi-header (toggleMenu$)="sidenav.toggle()" ngClass.xs="mobile"></skalagi-header>
    <skalagi-sentences ngClass.xs="mobile"></skalagi-sentences>
    <div ngClass.xs="mobile" class="route-outlet mat-elevation-z1">
        <router-outlet></router-outlet>
    </div>     
</div>
<skalagi-footer></skalagi-footer>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" position="end" 
        [fixedInViewport]="true" [fixedTopGap]="48">            
        <mat-nav-list class="accent">
            <mat-list-item routerLinkActive="accent" routerLink='/'
                (click)="sidenav.close()" [routerLinkActiveOptions]="{exact:true}">
                <a matLine>STRONA GŁÓWNA</a>
            </mat-list-item>

            <mat-list-item>
                <a matLine>TRANSKRYPT</a>
            </mat-list-item>

            <mat-list-item>
                <a matLine>ASTRONOMIA</a>
            </mat-list-item>
            
            <mat-list-item routerLinkActive="accent" routerLink='/prognoza'
                (click)="sidenav.close()">
                <a matLine>PROGNOZA</a>
            </mat-list-item>
            
            <mat-list-item routerLinkActive="accent" routerLink='/pomiary'
                (click)="sidenav.close()">
                <a matLine>POMIARY</a>
            </mat-list-item>

            <mat-list-item routerLinkActive="accent" routerLink='/raport'
                (click)="sidenav.close()">
                <a matLine>RAPORT</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>    