skalagi-header, skalagi-sentences {
    position: sticky;
    z-index: 3;
}

.viewport {
    min-height: 100vh;
}

.route-outlet {
    background: #1E88E5;
    box-sizing: border-box;
    padding: 48px 32px 32px 32px;
    position: relative;
    z-index: 1;
  
    &.mobile {
      padding: 24px 8px 8px 8px;
    }
}

skalagi-header {
    display: block;
    top: -12px;

    &.mobile {
        z-index: 4;
        top: 0;
    }
}

skalagi-sentences {
    top: 28px;

    &.mobile {
        position: relative;
        top: 0;
    }
}

mat-sidenav {
    background: #2196f3;
    a {
        color: #fff;
    }
}

:host .viewport {

    mat-sidenav-content.mat-sidenav-content {
        overflow: inherit;        
    }
    
    mat-sidenav-container.mat-sidenav-container {
        overflow: inherit;
    }
}

::ng-deep {
    mat-sidenav-container.mat-drawer-container {
        z-index: 4;
    }
}

skalagi-footer {
    display: block;
    position: sticky;
    bottom: 0;
}