@import "../../../theme/weather-blue";

portable-value {
  margin-left: auto;
  padding-left: 1em;
  color: md-color($weather-blue-primary);
}

mat-card-title {
  text-align: center;
}

mat-card-title, p {
  display: flex;
}

