
:host {
    display: block;
    height: 100%;
}

.basic {
    height: 100%;
    box-sizing: border-box;
    background: #fff;
    padding: 16px
}

skalagi-unit {
    width: 100%;
}

.icon {
    font-size: 30px;
    padding-left: 12px;

    mat-icon {
        height: auto;
    }
}

.actions {
    margin-top: 24px;
}

button {
    font-weight: 600;
    margin-left: 12px;
    letter-spacing: 2px;
}