
:host {
    display: block;
    height: 100%;
}

.basic {
    height: 100%;
    box-sizing: border-box;
}

.mat-expanded {
    mat-expansion-panel-header {
        ::ng-deep skalagi-unit {
            .main-line {
                font-size: 16px;
                font-weight: 300;
                color: #333;
            }
        }

        .icon {
            color: #333;
        }
    }
}
mat-expansion-panel {
    border-radius: 0;
}

mat-expansion-panel-header {
    ::ng-deep skalagi-unit {
        .main-line {
            font-size: 1.1em;
            letter-spacing: 2px;
            font-weight: 600;
        }

        skalagi-portable-value span {
            font-weight: 600;
        }
    }
}

skalagi-unit {
    width: 100%;
}

.icon {
    font-size: 30px;
    padding-left: 12px;

    mat-icon {
        height: auto;
    }
}

button {
    font-weight: 600;
    margin-left: 12px;
    letter-spacing: 2px;
}