<div class="basic" fxLayout="column" ngClass.xs="mobile" fxLayoutAlign="center stretch">  

    <skalagi-unit color="primary" *ngIf="title == 'Wilgotność'"
      [unit]="basic"></skalagi-unit>    

    <ng-template [ngIf]="basic?.current?.speed">          
      <skalagi-unit *ngIf="basic?.current?.speed" [unit]="basic.current.speed" color="primary"
        [icon]="basic.current.dir.value ? 'navigation' : 'assistant_photo'" [dir]="basic.current.dir">
        {{ basic.current.translated }}
      </skalagi-unit>
    </ng-template>

    <skalagi-unit color="primary" icon="nature_people" *ngIf="basic?.real" 
      [unit]="basic.real"></skalagi-unit>

    <skalagi-unit color="primary"  *ngIf="basic?.current && !basic?.current?.speed"
      [unit]="basic?.current"></skalagi-unit>

    <skalagi-unit color="primary" *ngIf="basic?.trend" [icon]="trendIcon"
      [unit]="basic.trend"></skalagi-unit>

    <skalagi-unit color="primary"  *ngIf="basic?.sum" 
      [unit]="basic.sum"></skalagi-unit>

    <skalagi-unit color="primary"  *ngIf="basic?.dewPoint" icon="opacity"
      [unit]="basic.dewPoint"></skalagi-unit>
    
    <ng-template [ngIf]="basic?.gust">
      <skalagi-unit *ngIf="basic?.gust" [unit]="basic.gust.speed" color="primary"
        [icon]="basic.current.dir.value ? 'navigation' : 'toys'" [dir]="basic.gust.dir">
        {{ basic.gust.translated }}
      </skalagi-unit>     
    </ng-template> 
  
  <div class="actions" fxLayout fxLayoutAlign="end center">
    <button color="accent" mat-button disabled>TRANSKRYPT</button>
    <button color="accent" mat-button [routerLink]="['/raport', title.toLowerCase()]">RAPORT</button>
    <button color="accent" mat-button disabled>SZCZEGÓŁY</button>
  </div>
</div>