<div class="basic" fxLayout="column" fxLayoutAlign="center stretch">  

  <mat-expansion-panel hideToggle class="mat-elevation-z0">
    <mat-expansion-panel-header collapsedHeight="96px">
      <skalagi-unit @slide color="primary" *ngIf="basic?.value"
        [unit]="basic"></skalagi-unit>    

        <ng-template [ngIf]="basic?.gust">          
          <skalagi-unit @slide *ngIf="basic?.current?.speed" [unit]="basic.current.speed" color="primary"
            [icon]="basic.current.dir.value ? 'navigation' : 'assistant_photo'" [dir]="basic.current.dir">
            {{ basic.current.translated }}
          </skalagi-unit>
        </ng-template>

        <skalagi-unit @slide color="primary"  *ngIf="basic?.current && !basic?.current?.speed"
          [unit]="basic?.current"></skalagi-unit>
    </mat-expansion-panel-header>

    <skalagi-unit @slide color="primary" icon="nature_people" *ngIf="basic?.real" 
      [unit]="basic.real"></skalagi-unit>

    <skalagi-unit @slide color="primary" *ngIf="basic?.trend" [icon]="trendIcon"
      [unit]="basic.trend"></skalagi-unit>
    
    <ng-template [ngIf]="basic?.gust">

      <skalagi-unit @slide *ngIf="basic?.gust" [unit]="basic.gust.speed" color="primary"
        [icon]="basic.current.dir.value ? 'navigation' : 'toys'" [dir]="basic.gust.dir">
        {{ basic.gust.translated }}
      </skalagi-unit>     

      <skalagi-unit @slide color="primary"  *ngIf="basic?.sum" 
        [unit]="basic.sum"></skalagi-unit>
  
      <skalagi-unit @slide color="primary"  *ngIf="basic?.dewPoint" icon="opacity"
        [unit]="basic.dewPoint"></skalagi-unit>

    </ng-template> 
    <mat-action-row fxLayout fxLayoutAlign="end center">      
      <mat-spinner [diameter]="32" color="accent" [strokeWidth]="3"
        *ngIf="(loading$ | async)">
      </mat-spinner>
      <button color="primary" mat-button disabled>TRANSKRYPT</button>
      <button color="primary" mat-button [routerLink]="['/raport', title.toLowerCase()]">RAPORT</button>
    </mat-action-row>
  </mat-expansion-panel>    
</div>