<md-card>
  <md-card-title>{{ title }} <portable-value *ngIf='loaded' [value]="rain.current.value" [after]="rain.current.units"></portable-value></md-card-title>

  <md-card-content *ngIf='loaded'>
    <md-spinner *ngIf='!loaded'></md-spinner>

    <p *ngIf="rain.current.value">Aktualne: <portable-value *ngIf='loaded' [value]="rain.current.value" [after]="rain.current.units"></portable-value></p>
    <record *ngIf="rain.sum.value" range='day' record="rainrate"></record>
    <p *ngIf="rain.sum.value">Suma: <portable-value *ngIf='loaded' [value]="rain.sum.value" [after]="rain.sum.units"></portable-value></p>
  </md-card-content>

  <md-card-actions>
    <button disabled md-button color='primary'>Szczegóły</button>
    <button md-button color='primary' routerLink='opady'>Raport</button>
  </md-card-actions>
</md-card>
