
figure {
    margin: 0;
    padding: 24px 16px;
}

div {
    height: 100%;
}

h2 {
    letter-spacing: 3px;
    text-align: center;
    font-weight: 500;
}

img {
    height: 96px;
    margin: 0 16px;
}