@import '~@angular/material/core/theming';
@include mat-core();

$weather-blue-primary: md-palette($md-blue);
$weather-blue-accent:  md-palette($md-amber, A200, A100, A400);
$weather-blue-theme: md-light-theme($weather-blue-primary, $weather-blue-accent);

@include angular-material-theme($weather-blue-theme);
