@import '~@angular/material/theming';
@include mat-core();

$weather-blue-primary: mat-palette($mat-blue);
$weather-blue-accent:  mat-palette($mat-amber, A200, A100, A400);
$weather-blue-theme: mat-light-theme($weather-blue-primary, $weather-blue-accent);

@include angular-material-theme($weather-blue-theme);
