:host {
  width: 4.5em;
  height: 90%;
  display: inline-flex;
  padding: .5em;
  padding-top: 2em;
  background: #fff;
  border-radius: 4em;
  margin-bottom: 6em;
  position: relative;
  justify-content: center;
  $thermometerColor: #f42;
  box-shadow: 0 .1em .2em rgba(0, 0, 0, .4);

  .bottom {
    top: 90%;
    width: 35%;
    height: 32%;
    content: '';
    background: #fff;
    position: absolute;
    border-radius: 2em;
    overflow: hidden;
    left: 50% - (35%/2);
    z-index: -1;
    box-shadow: 0 .1em .2em rgba(0, 0, 0, .4);
  }

  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: -1.9%;
    left: 56%;
    width: 110%;
    height: 135%;
    z-index: 2;
    transform: skew(25deg) rotate(25deg);
    background: rgba(#000, .1);
  }
}

