<main fxLayout="column" fxLayoutAlign="space-around stretch">
    <skalagi-widget-unit title="TEMPERATURA" 
        *ngIf="temperature$ | async as temperature" [unit]="temperature?.real"></skalagi-widget-unit>

    <skalagi-widget-unit title="WIATR" 
        *ngIf="wind$ | async as wind" [unit]="wind?.current.speed"></skalagi-widget-unit>

    <skalagi-widget-unit title="OPADY" 
        *ngIf="rain$ | async as rain" [unit]="rain?.current"></skalagi-widget-unit>

    <skalagi-widget-unit title="WILGOTNOŚĆ"
        *ngIf="humidity$ | async as humidity" [unit]="humidity"></skalagi-widget-unit>

    <skalagi-widget-unit title="CIŚNIENIE"
        *ngIf="presure$ | async as presure" [unit]="presure?.current"></skalagi-widget-unit>
</main>