
<main *ngIf="basic$ | async as basic"
    gdColumns="repeat(auto-fit, minmax(312px, auto))" gdColumns.xs="1fr"
        gdAlignRows="stretch stretch" gdGap="96px">

    <div fxLayout fxLayoutAlign="center center">
        <img src="assets/icons/icon-144x144.png">
    </div>
    
    <figure *ngIf="(forecast$ | async)?.simpleforecast?.forecastday as days"
        routerLink="/prognoza" matRipple
        class="border accent forecast bg mat-elevation-z1">
        <div *ngIf="days?.length" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <img src="assets/icons/wu/{{ days[0].icon }}.svg">

            <h2 class="second-font">
                {{ days[0].date.epoch | amFromUnix | amTimeAgo }}
                {{ days[0].conditions }}
            </h2>

            <p>DOWIEDZ SIĘ WIĘCEJ</p>
        </div>
    </figure>
    
    <skalagi-widget-unit title="TEMPERATURA" matRipple
        routerLink="raport/temperatura/dziś"
        [trendingUnit]="basic.temperature.trend"
        [unit]="basic.temperature?.real"></skalagi-widget-unit>

    <skalagi-widget-unit title="CIŚNIENIE" matRipple
        routerLink="raport/ciśnienie/dziś"
        [trendingUnit]="basic.barometer.trend"
        [unit]="basic.barometer?.current"></skalagi-widget-unit>

    <skalagi-widget-unit title="WIATR" matRipple
        routerLink="raport/wiatr/dziś"
        [unit]="basic.wind?.current"></skalagi-widget-unit>

    <skalagi-widget-unit title="PODMUCHY" matRipple
        routerLink="raport/wiatr/dziś"
        [unit]="basic.wind?.gust"></skalagi-widget-unit>

    <skalagi-widget-unit title="WILGOTNOŚĆ" matRipple
        routerLink="raport/wilgotność/dziś"
        [unit]="basic.humidity"></skalagi-widget-unit>

    <skalagi-widget-unit title="OPADY"matRipple
        routerLink="raport/opady/dziś"
        [unit]="basic.rain?.sum"></skalagi-widget-unit>
</main>