<main *ngIf="basic$ | async as basic"
    gdColumns="1fr 1fr" gdColumns.lt-md="auto" gdAlignRows="space-evenly stretch">
    <skalagi-widget-unit title="TEMPERATURA" 
         [unit]="basic.temperature?.real"></skalagi-widget-unit>

    <skalagi-widget-unit title="CIŚNIENIE"
        [unit]="basic.barometer?.current"></skalagi-widget-unit>

    <skalagi-widget-unit title="WILGOTNOŚĆ"
        [unit]="basic.humidity"></skalagi-widget-unit>

    <skalagi-widget-unit title="OPADY" 
        [unit]="basic.rain?.current"></skalagi-widget-unit>

    <skalagi-widget-unit title="WIATR" 
        [unit]="basic.wind?.current.speed"></skalagi-widget-unit>

    <skalagi-widget-unit title="PODMUCHY" 
        [unit]="basic.wind?.gust.speed"></skalagi-widget-unit>
</main>