#value {
  background: crimson;
  color: crimson;
  width: .65em;
  bottom: 0;
  left: 2.4em;
  position: absolute;
}

span {
  cursor: help;
  background: #fff;
  padding: .2em;
  box-shadow: 0 .1em .1em rgba(0, 0, 0, .2);
  font-weight: 600;
  font-size: 1.1em;
  position: relative;
  top: -.5em;
  left: 150%;
}

:host {
  position: absolute;
  height: 85%;
  width: 20%;
  z-index: 3;
  left: 0;
  display: flex;
  flex-flow: column;

  div {
    position: relative;
    background: #444;
    height: 4px;
    margin-top: 5px;
    width: 90%;

    &.bold-line {
      width: 150%;
    }

    p {
      position: absolute;
      font-weight: 600;
      color: #444;
      right: 110%;
      top: -125%;
      margin: 0;
    }
  }
}
