h2 {
  font-size: 24px;
  letter-spacing: 3px;
  color: #FFEB3B;
}

header {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 12px;
}

mat-toolbar {
  /* border: 1px solid #fff; */
  padding: 0;
  border-radius: 6px;
}

nav {
  overflow: hidden;
}

.routes {
  margin-left: auto;
}

button, nav {
  height: 100%;
  letter-spacing: 2px;
}

sub {
  margin-left: .25em;
  transform: translateY(-.5em);
}

app-update-timer {
  margin-left: auto;
}

mat-icon {
  animation: spin 30s infinite;
  margin-right: 3px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
