h2 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3px;
}

header {
  box-sizing: border-box;
  width: 100%;
}

.title { 
  mat-icon {
    margin-right: 3px;
    $size: 20px;
    font-size: $size;
    width: $size;
    height: $size;
  }
}

.menu {
  margin-right: 8px;
}

mat-toolbar {
  height: 52px;
  padding: 0;
  border-radius: 6px;
}

nav {
  overflow: hidden;

  &, button {
    height: 100%;
    letter-spacing: 2px;
  }
  
}

.routes {
  margin-left: auto;
}

skalagi-update-timer {
  margin-left: auto;
}

.sun {
  animation: spin 30s cubic-bezier(0.0, 0.0, 0.2, 1)  infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
