@import "../../theme/weather-blue";

md-card-content {
  display: flex;
}

.wind-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

md-card-title {
  display: flex;
}

portable-value {
  color: md-color($weather-blue-primary);
  margin-left: auto;
}

div:first-child {
  margin-right: .5em;
}

h4 {
  display: flex;
  align-items: center;
}

h4 md-icon {
  margin-left: auto;
}
