<span *ngIf="temperature">
  Temperatura: <span class="accent">{{ 
    temperature?.current?.value + temperature?.current?.units
  }}</span>
</span>

<span *ngIf="pressure">
  Ciśnienie: <span class="accent">{{ 
    pressure?.current?.value + pressure?.current?.units
  }}</span>
</span>

<span *ngIf="wind && wind?.current.translated">
  Wiatr: <span class="accent">{{ 
    wind?.current?.translated }}({{ wind?.current?.speed.value }})</span>
</span>

<span matTooltipPosition="left" matTooltip="Ilośćg rekorów w bazie">
  <mat-icon>dns</mat-icon> <span class="accent">{{ recordsAmount }}</span>
</span>

<!--<span>
  <mat-icon matTooltip="https" color="accent">https</mat-icon>
  <mat-icon matTooltip='web-socket' color="primary">toll</mat-icon>
</span>-->
