<md-card>
  <md-card-title>
    Wiatr <portable-value *ngIf="loaded" [value]="wind.current.speed.value" [after]="wind.current.speed.units"></portable-value>
  </md-card-title>

  <md-card-content *ngIf='loaded'>
    <md-spinner *ngIf='!loaded'></md-spinner>
    <wind-group [data]="wind"></wind-group>
  </md-card-content>

  <md-card-actions>
    <button disabled md-button color='primary'>Szczegóły</button>
    <button md-button color='primary' routerLink='powiewy'>Raport</button>
  </md-card-actions>
</md-card>
