<md-card>
  <md-card-title>
    {{ title }}
    <portable-value
      *ngIf="loaded && wind.current.speed.value > 0"
      [value]="wind.current.speed.value"
      [after]="wind.current.speed.units"
    ></portable-value>
  </md-card-title>

  <md-card-content *ngIf='loaded'>
    <md-spinner *ngIf='!loaded'></md-spinner>
    <md-tab-group>
      <md-tab label="Dane">
        <wind-group [data]="wind"></wind-group>
      </md-tab>

      <md-tab label="Raport">
        <records record="windspeed"></records>
      </md-tab>
    </md-tab-group>
  </md-card-content>

  <md-card-content>
  </md-card-content>

  <md-card-actions>
    <button disabled md-button color='primary'>Szczegóły</button>
    <button md-button color='primary' routerLink='powiewy'>Raport</button>
  </md-card-actions>
</md-card>
