<md-card>
  <md-card-title>Temperatura</md-card-title>

  <md-card-content id='dew-point' *ngIf='loaded && temperature.dewPoint.value'>
    <div>
      <md-icon>opacity</md-icon>
      <span [mdTooltip]='"Punkt rosy wynosi: " + temperature.dewPoint.value + temperature.dewPoint.units'>
        {{ temperature.dewPoint.value | number:'1.0-0' }}{{ temperature.dewPoint.units }}
      </span>
    </div>

    <div *ngIf='trend'>
      <md-icon>{{ trend }}</md-icon>
      <span [mdTooltip]='"Tendencja: " + temperature.trend.value + temperature.trend.units'>
        {{ temperature.trend.value | number:'1.0-2' }} {{ temperature.trend.units }}
      </span>
    </div>
  </md-card-content>

  <md-card-content id='data' *ngIf='loaded'>
    <h5>
      <p>Odczuwalna
        <span [mdTooltip]='temperature.real.value + temperature.real.units'>
          {{ temperature.real.value  | number:'1.0-2' }}{{ temperature.real.units }}
        </span>
      </p>

      <p>Aktualna
        <span [mdTooltip]='temperature.current.value + temperature.current.units'>
          {{ temperature.current.value | number:'1.0-2' }}{{ temperature.current.units }}
        </span>
      </p>
    </h5>

    <h5>
      <app-day-record [value]='records'></app-day-record>
    </h5>
  </md-card-content>

  <md-card-actions>
    <button md-button color='primary' routerLink='temperatura'>Szczegóły</button>
  </md-card-actions>
</md-card>
