@import "../../theme/weather-blue";

#dew-point {
  justify-content: space-between;
  display: flex;

  div {
    align-items: center;
    display: flex;
  }
  > *:first-child {
    margin-right: 1em;
  }
}

portable-value {
  padding-left: 1em;
  margin-left: auto;
}

h5 {
  margin: 0;
}

#data {
  display: flex;
  align-items: center;

  > * {
    display: inline-block;

    &:first-child {
      margin-right: 1em;
    }
  }

  h5 {
    p {
      display: flex;

      portable-value {
        margin-left: auto;
      }
    }
  }
}
