#dew-point {
  justify-content: space-between;
  display: flex;
}

#dew-point div {
  align-items: center;
  display: flex;
}

#dew-point > *:first-child {
  margin-right: 1em;
}

span {
  cursor: pointer;
}
