@import "../../theme/weather-blue";

#dew-point {
  justify-content: space-between;
  display: flex;
}

#dew-point div {
  align-items: center;
  display: flex;
}

#dew-point > *:first-child {
  margin-right: 1em;
}

portable-value {
  color: md-color($weather-blue-primary);
  margin-left: auto;
}

h5 {
  margin: 0;
}

#data {
  display: flex;
  align-items: center;
}

#data > * {
  display: inline-block;
}
#data > *:first-child {
  margin-right: 1em;
}

span {
  cursor: pointer;
}
