<md-card>
  <md-card-title>Ciśnienie <portable-value *ngIf="loaded" [value]="pressure.current.value" [after]="pressure.current.units"></portable-value></md-card-title>

  <md-card-content *ngIf='loaded'>
    <md-spinner *ngIf='!loaded'></md-spinner>

    <records record="barometer"></records>
    <p>Aktualne: <portable-value *ngIf="loaded" [value]="pressure.current.value" [after]="pressure.current.units"></portable-value></p>
    <p>Tendencja: <portable-value *ngIf="loaded" [value]="pressure.trend.value" [after]="pressure.trend.units"></portable-value></p>
  </md-card-content>

  <md-card-actions>
    <button disabled md-button color='primary'>Szczegóły</button>
    <button md-button color='primary' routerLink='cisnienie'>Raport</button>
  </md-card-actions>
</md-card>
