<mat-card>
  <mat-card-title>Ciśnienie <portable-value *ngIf="loaded" [value]="pressure.current.value" [after]="pressure.current.units"></portable-value></mat-card-title>

  <mat-card-content *ngIf='loaded'>
    <mat-spinner *ngIf='!loaded'></mat-spinner>

    <p>Aktualne: <portable-value *ngIf="loaded" [value]="pressure.current.value" [after]="pressure.current.units"></portable-value></p>
    <p>Tendencja: <portable-value *ngIf="loaded" [value]="pressure.trend.value" [after]="pressure.trend.units"></portable-value></p>
    <records record="barometer"></records>
  </mat-card-content>

  <mat-card-actions>
    <button disabled mat-button color='primary'>Szczegóły</button>
    <button mat-button color='primary' routerLink='cisnienie'>Raport</button>
  </mat-card-actions>
</mat-card>
