<mat-card>
  <mat-card-title>{{ title }}
    <portable-value
      *ngIf='loaded && rain?.current.value'
      [value]="rain?.current.value"
      [after]="rain?.current.units">
    </portable-value></mat-card-title>

  <mat-card-content *ngIf='loaded'>
    <mat-spinner *ngIf='!loaded'></mat-spinner>

    <records record="rainrate"></records>
    <p *ngIf="rain?.current.value">Aktualne: <portable-value *ngIf='loaded' [value]="rain?.current.value" [after]="rain?.current.units"></portable-value></p>
    <p *ngIf="rain?.sum.value">Suma: <portable-value *ngIf='loaded' [value]="rain?.sum.value" [after]="rain?.sum.units"></portable-value></p>
  </mat-card-content>

  <mat-card-actions>
    <button disabled mat-button color='primary'>Szczegóły</button>
    <button disabled mat-button color='primary' routerLink='opady'>Raport</button>
  </mat-card-actions>
</mat-card>
