<footer class="primary-bg second-font" ngClass.xs="mobile">
  <mat-nav-list class="accent">
    <mat-list-item routerLinkActive="accent" routerLink='/' [routerLinkActiveOptions]="{exact:true}">
        <a matLine>STRONA GŁÓWNA</a>
    </mat-list-item>
    
    <mat-list-item routerLinkActive="accent" routerLink='/pomiary'>
        <a matLine >AKTUALNE ODZCZYTY</a>
    </mat-list-item>

    <mat-list-item routerLinkActive="accent" routerLink='/raport'>
        <a matLine>RAPORT</a>
    </mat-list-item>
  </mat-nav-list>

  <div class="bottom" ngClass.xs="mobile" 
    fxLayout.xs="column"
    fxLayout="row wrap" fxLayoutAlign.xs="center stretch" fxLayoutAlign="space-around center">
    <div *ngIf="(time$ | async) as time">
      <span *ngIf="time?.data?.value" fxLayout="row wrap" fxLayoutAlign="center center">
        <span>Ostatnia aktualizacja:</span>
        <span class="accent time">{{ time.data.value | amTimeAgo }}</span>
      </span>
    </div>

    <span class="copyright">Copyright &copy; 2018</span>

    <a mat-button href="https://innovative.website" target="_blank" rel="noopener noreferrer">
      <div fxLayout fxLayoutAlign="center center">
          <span>Strona stworzona przez </span>
          <img src="https://innovative.website/assets/icons/icon-72x72.png">
      </div>
    </a>
  </div>
</footer>