<footer class="primary-bg second-font">
  <mat-nav-list>
    <mat-list-item>
       <a matLine routerLinkActive="actisve" routerLink='/pomiary'>POMIARY</a>
    </mat-list-item>

    <mat-list-item>
       <a matLine routerLinkActive="activse" routerLink='/raport'>RAPORT</a>
    </mat-list-item>
  </mat-nav-list>

  <div class="bottom" ngClass.xs="mobile" 
    fxLayout="row wrap" fxLayoutAlign.xs="center center" fxLayoutAlign="space-between center">
    <div *ngIf="(time$ | async) as time">
      <span *ngIf="time?.data?.value" fxLayout="row wrap" fxLayout.xs="column">
        <span>Ostatnia aktualizacja:</span>
        <span class="accent">{{ time.data.value | amTimeAgo }}</span>
      </span>
    </div>

    <span class="copyright">Copyright &copy; 2018</span>

    <a mat-button>
      <div fxLayout fxLayoutAlign="center center">
          <span>Strona stworzona przez </span>
          <img src="https://innovative.website/assets/icons/icon-72x72.png">
      </div>
    </a>
  </div>
</footer>