footer {
    box-sizing: border-box;
    padding: 16px 64px;
    text-align: right;
    color: #fff;

    &.mobile {
        padding: 16px 12px;
    }
}

:host .active {
    display: none;
}

.copyright {
    letter-spacing: 4px;
    margin: 16px;
}

.bottom {
    &.mobile {
        text-align: center;
    }
}

mat-nav-list {
    border-style: solid;
    border-width: 0 1px;
    box-sizing: border-box;
    padding: 32px 0;
    margin-bottom: 24px;
}

.time {
    margin-left: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

img {
    padding: 12px;
    padding-right: 0;
    height: 42px;
}

:host a {
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
}