footer {
    box-sizing: border-box;
    padding: 16px 64px;
    text-align: right;
    position: sticky;
    bottom: 0;
    color: #fff;
}

:host .active {
    display: none;
}

.copyright {
    letter-spacing: 4px;
    margin: 16px;
}

.bottom {
    &.mobile {
        text-align: center;
    }
}

mat-nav-list {
    box-sizing: border-box;
    padding: 32px 0;
}

.accent {
    margin-left: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

img {
    padding: 12px;
    padding-right: 0;
    height: 42px;
}

:host a {
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
}