.thermometer {
  padding-bottom: 5em;
  overflow: hidden;
}

:host {
  justify-content: space-around;
  align-items: flex-start;
  margin: 2em auto;
  display: flex;
  width: 100%;
}

md-card-content {
  text-align: center;
}

:host >>> .md-tab-label {
  flex-grow: 1;
}
