md-card#thermometer {
  padding-bottom: 5em;
  height: 100%;
  overflow: hidden;
}

md-card#thermometer md-card-content {
  height: 100%;
}

:host {
  justify-content: space-around;
  align-items: baseline;
  display: flex;
  width: 100%;
}
