:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

div {  
  padding: 12px 24px;
  color: #fff;
  width: 100%;
}

span {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  flex-grow: 1;
}