@import "./app/pogoda/pogoda.theme";

.drop-shadow {
  filter: drop-shadow(0 1px 1px rgba(0,0,0,.5));
}

.bg {
  background: rgba(#2196f3, .75);
}

.border {
  border-radius: 24px / 18px;
  border: 1px solid;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #1E88E5;
  min-height: 100vh;
  margin: 0;

  .second-font {
    font-family: 'Alegreya Sans', sans-serif;
  }

  .primary-bg {
    background: $primary;
  }


  .accent-bg {
    background: $accent;
    color: #333;
  }

  .primary {
    color: $primary;
  }

  .mat-nav-list .mat-list-item {
    color: #fff;
    &.accent {
      color: $accent;
    }
  }

  .accent {
    color: $accent;
  }

  .warn {
    color: $warn;
  }

  .mat-tab-label, .mat-tab-link {
    letter-spacing: 4px;
    min-width: auto;
    
  }
}

::-webkit-scrollbar {
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  margin: 0 1px;
}