<md-tab-group>
  <md-tab *ngFor="let wind of winds">
    <template md-tab-label>
      <span class="wind-label">
        {{ wind.name }}
        <md-icon color='primary' [style.transform]='transform(wind.data)'> {{ icon }} </md-icon>
      </span>
    </template>

    <h5>Kierunek:
      <span>
        <portable-value
          [preText]="wind.data.translated + ' ('"
          [afterText]="wind.data.dir.units + ')'"
          [afterTip]="wind.data.dir.units"
          [value]="wind.data.dir.value"
        ></portable-value>
      </span>
    </h5>
    <h5>Prędkość:
      <span>
        <portable-value [afterText]="wind.data.speed.units" [value]="wind.data.speed.value"></portable-value>
      </span>
    </h5>
  </md-tab>
</md-tab-group>
