<md-tab-group [dynamicHeight]="true">
  <md-tab *ngFor="let wind of winds">
    <template md-tab-label>
      <span class="wind-label">
        {{ wind.name }}
        <md-icon color='primary' *ngIf="thereIsWind" [style.transform]='transform(wind.data)'> {{ icon }} </md-icon>
        <md-icon *ngIf="!thereIsWind" color='primary'>brightness_high</md-icon>
      </span>
    </template>

    <p *ngIf="thereIsWind">Kierunek:
      <portable-value
        [preText]="wind.data.translated + ' ('"
        [afterText]="wind.data.dir.units + ')'"
        [afterTip]="wind.data.dir.units"
        [value]="wind.data.dir.value"
      ></portable-value>
    </p>

    <p>Prędkość:
      <portable-value [afterText]="wind.data.speed.units" [value]="wind.data.speed.value"></portable-value>
    </p>
  </md-tab>
</md-tab-group>
