.card {
    background: #fff;
    border-radius: 6px;
    height: 100%;
    box-sizing: border-box;
    padding: 24px;
    padding-bottom: 8px;
}

.title {
    text-align: center;
}

.actions {
    text-align: right;
}

h3 {
    margin: 0;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 3px;
}

.basic {
    margin: 12px 0;
}
