.card {
    background: #fff;
    border-radius: 6px;
    height: 100%;
    box-sizing: border-box;
    padding: 24px;
    padding-bottom: 8px;
}

.actions {
}

h3 {
    margin: 0;
    letter-spacing: 3px;
    margin-bottom: 16px;
}