<ng-template [ngIf]="basic$ | async" let-basic="$implicit">
  <div class="mat-elevation-z1 card" fxLayout="column" fxLayoutAlign="space-between">
    <h3 class="second-font title" *ngIf="title" fxLayout="row wrap" 
      [fxLayoutAlign]="basic?.value || basic?.current?.value || basic?.current?.speed?.value ? 'space-between center' : 'center center'">
      {{ title }}
      <portable-value [value]="basic?.value || basic?.current?.value || basic?.current?.speed?.value" 
        [after]="basic?.units || basic?.current?.units || basic?.current?.speed?.units"></portable-value>
    </h3>

    <mat-tab-group [dynamicHeight]="true">
      <mat-tab *ngIf="!basic?.value" label="DANE">
        <skalagi-basic-data [basic]="basic"></skalagi-basic-data>
      </mat-tab>

      <mat-tab label="REKORDY">
        <ng-template matTabContent>
          <skalagi-records fxFlex *ngIf="type" [record]="type"></skalagi-records>        
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    
    <div class="actions">
      <button mat-button color='primary' [routerLink]="['raport', title.toLowerCase()]">RAPORT</button>
    </div>
  </div>
</ng-template>