<md-card>
  <md-card-title>Temperatura <portable-value *ngIf="loaded" [value]="temperature.real.value" [after]="temperature.real.units"></portable-value></md-card-title>

  <md-card-content id='dew-point' *ngIf='loaded && temperature.dewPoint.value'>
    <div>
      <md-icon>opacity</md-icon>
      <portable-value preTip="Punkt rosy wynosi: " [value]="temperature.dewPoint.value" [after]="temperature.dewPoint.units"></portable-value>
    </div>

    <div *ngIf='trend'>
      <md-icon>{{ trend }}</md-icon>
      <portable-value preTip="Tendencja: " [value]="temperature.trend.value" [after]="temperature.trend.units"></portable-value>
    </div>
  </md-card-content>

  <md-card-content id='data' *ngIf='loaded'>
    <md-tab-group>
      <md-tab label="Dane">
        <p>Odczuwalna:
          <portable-value [value]="temperature.real.value" [after]="temperature.real.units"></portable-value>
        </p>

        <p>Aktualna:
          <portable-value [value]="temperature.current.value" [after]="temperature.current.units"></portable-value>
        </p>
      </md-tab>
      <md-tab label="Raport"><records record="temperature"></records></md-tab>
    </md-tab-group>
  </md-card-content>

  <md-card-actions>
    <button md-button color='primary' routerLink='temperatura'>Szczegóły</button>
  </md-card-actions>
</md-card>
