<mat-card>
  <mat-card-title>Temperatura <portable-value *ngIf="loaded" [value]="temperature?.real.value" [after]="temperature?.real.units"></portable-value></mat-card-title>

  <mat-card-content id='dew-point' *ngIf='loaded && temperature?.dewPoint.value'>
    <div>
      <mat-icon>opacity</mat-icon>
      <portable-value preTip="Punkt rosy wynosi: " [value]="temperature?.dewPoint.value" [after]="temperature.dewPoint.units"></portable-value>
    </div>

    <div *ngIf='trend'>
      <mat-icon>{{ trend }}</mat-icon>
      <portable-value preTip="Tendencja: " 
      [value]="temperature?.trend.value" 
      [after]="temperature?.trend.units"></portable-value>
    </div>
  </mat-card-content>

  <mat-card-content id='data' *ngIf='loaded'>
    <mat-tab-group [dynamicHeight]="true" selectedIndex="1">
      <mat-tab label="Dane" disabled>
        <p>Odczuwalna:
          <portable-value [value]="temperature?.real.value" 
            [after]="temperature?.real.units"></portable-value>
        </p>

        <p>Aktualna:
          <portable-value [value]="temperature?.current.value" 
          [after]="temperature?.current.units"></portable-value>
        </p>
      </mat-tab>
      <mat-tab label="Raport"><records record="temperature"></records></mat-tab>
    </mat-tab-group>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color='primary' routerLink='temperatura'>Szczegóły</button>
  </mat-card-actions>
</mat-card>
